#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#container > div {
    border: 1px solid black;
    height:25px;
    width: 25px;
}

button {
    text-align: center;
}

input{
    text-align: center;
}

.reSize{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

